<%- include('../partials/header') %>

    <h1>Posts New</h1>

    <!-- when this form is submitted, the browser will make a POST
    request to the relative ulr /posts (or, http://localhost:5001/posts)
    with the form data of title and content accessible on the req.body
    (only if you have the bodyParser setup) -->
    <form method="post" action="/posts">
      <label>Title:</label>
      <input name="title"/>
      <br/>
      <label>Content:</label>
      <textarea name="content"></textarea>
      <br />
      <input type="submit"/>
    </form>

<%- include('../partials/footer') %>
